<?php

// See README file for instructions.
$fbconfig['appid'] 			= "YOUR_APP_ID";
$fbconfig['secret'] 		= "YOUR_APP_SECRET";
$fbconfig['canvas_page'] 	= "http://apps.facebook.com/YOUR_APP_NAMESPACE/";

?>